body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background: #f9f9f9;
}

h1 {
  color: #333;
}

label {
  margin-right: 10px;
}

select {
  margin: 10px;
  padding: 5px;
}

#outputYield, #outputLoss {
  font-size: 1.5em;
  color: steelblue;
  margin-top: 10px;
}

#chart {
  width: 100%;
  height: 500px;
  margin-top: 30px;
}
